{{#each this}}
  <ul class="userItem">
    <li>{{firstname}} {{lastname}}</li>
    <li>{{email}}</li>
    <li>{{password}}</li>
    <li class="changeBtn" data-set="{{id}}">Змінити</li>
    <li>{{id}}</li>
  </ul>
{{/each}}